.signature-heading{
    color: beige;
    font-family: 'Your-Signature-Font', cursive;
    font-size: 4rem;
    text-align: center;
}

body {
    display: grid;
    grid-template-colums: 1fr,2fr;
    background-color: tan;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  .painting-container{
    display: flex;
    justify-content: center;
  }
  
  /* .container {
    max-width: 1200px;
    margin: 0 auto;
  } */
  .container{
    display: grid;
    grid-template-columns: 1f;
    justify-content: center;
  }
  .centered-text{
    margin-left: 10px;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
  }
   .page-container{
    display: flex;
    justify-content: center;
  }
   .content-page{
    max-width: 600px;
   }  
  /* #app {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  } */
  
  #nav {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    justify-content: flex-start;
    width: 150px;
    gap: 10px;
  }
  
  #nav router-link, #nav button {
    width: 150px;
    background-color: brown;
    color: white;
    padding: 10px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.2s;
    margin-bottom: 10px;
  }
  
  #nav router-link:hover, #nav button:hover {
    background-color: orange;
  }
  .form-input-group {
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  label {
    margin-right: 0.5rem;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .text-center{
    margin-right: 0.5rem;
    align-items: center;
    justify-content: center;
    display: grid;
  }
  .login-info{
    margin-right: 0.5rem;
    align-items: center;
    justify-content: center;
    display: grid;
  }
  .home-page{
    max-width: 600px;
  }
  .home-container{
    display: grid;
    justify-content: center;
  }
  #content{
    padding:20px;
  }
  /* .form-input-group {
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  label {
    margin-right: 0.5rem;
    align-items: center;
    justify-content: center;
    display: flex;
  } */